{% extends "statsBase.html" %}
{% block title %} Overview {% endblock %}

{% block nav_overview %} nav-item active {% endblock %}
{% block nav_manage %} nav-item {% endblock %}
{% block nav_profile %} nav-item {% endblock %}

{% block h2_title %} Workout Overview {% endblock %}

{% block content %}
<!-- Workout selector -->
<div class="hr-divider my-4">
  {% if all_schedules %}
  <div class="container">
    <form method="get">
      <div class="form-group row mt-2 justify-content-center">
        <div class="col-md-auto">
          <select onchange="this.form.submit()" class="form-control text-center" id="scheduleSelector"
                  name="scheduleSelector" aria-label="scheduleSelector">
            {% for schedule in all_schedules %}
            {% if schedule.id == active_schedule_id %}
              <option selected value="{{ schedule.id }}" >{{ schedule.name }} </option>
            {% else %}
              <option  value="{{ schedule.id }}">{{ schedule.name }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
    </form>
  </div>
  {% endif %}
</div>

<!-- Statcards start here -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="lane-goodwin-full">
    <div class="row statcards">
      <div class="col-md-6 col-lg-3 mb-5 mb-md-3">
        <div class="statcard">
          <div class="p-a">
            <span class="statcard-desc">Total Workout Sessions</span>
            <h2 class="statcard-number">
              {{ user_workout_sessions_count }}
            </h2>
            
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-5 mb-md-3">
        <div class="statcard">
          <div class="p-a">
            <span class="statcard-desc">Last Session</span>
            <h2 class="statcard-number">
              {% if all_workout_sessions %}
                {{ all_workout_sessions[-1].position_id }}
                {{ all_workout_sessions[-1].positions.workout.name}}
              {% else %}
                {{ "No workouts done" }}
              {% endif %}
            </h2>
            {% if all_workout_sessions %}
            <h5>
              <small class="badge badge-success">
                {{ time(
                  all_workout_sessions[-1].hours,
                  all_workout_sessions[-1].minutes,
                  all_workout_sessions[-1].seconds
                  ) }}
              </small>
            </h5>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-5 mb-md-3">
        <div class="statcard">
          <div class="p-a">
            <span class="statcard-desc">Next Session</span>
            <h2 class="statcard-number">
              {% if next_workout %}
                {{ next_workout.workout.name }}
              {% else %}
                {{ "No more workouts. Start a new season" }}
              {% endif %}
            </h2>
            {% if next_workout_best_time_session %}
            <h5>
              <small class="badge badge-danger" >
                {{ time(
                  next_workout_best_time_session.hours,
                  next_workout_best_time_session.minutes,
                  next_workout_best_time_session.seconds
                ) }}
              </small>
            </h5>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-5 mb-md-3">
        <div class="statcard">
          <div class="p-a">
            <span class="statcard-desc">Progress</span>
            <h2 class="statcard-number">
              Season {{ current_workout_session_season }}
            </h2>
            <h2 class="statcard-number">
              Week 4
            </h2>
            <h2 class="statcard-number">
              Day 3
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add workout record button -->
<div class="hr-divider mt-5 mb-4">
  <h3 class="hr-divider-content hr-divider-heading">
    <a href="#docsModal" class="btn btn-outline-primary px-3" data-toggle="modal">Add Workout Record</a>
  </h3>
</div>


<!-- MODAL STARTS HERE -->
<div id="docsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Add Workout Record</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
      </div>
      
      <div class="modal-body">
        <form method="POST">
          <div class="form-group row mt-2">
            <label for="calendar" class="col-sm col-form-label">Scheduled workout date:</label>
            <div class="col-sm">
              <div class="btn-toolbar-item input-with-icon">
                <input type="text" id="calendar" name="calendar" data-date-format="yyyy/mm/dd" class="form-control"
                       value="1991/07/24" data-provide="datepicker">
                <span class="icon icon-calendar"></span>
              </div>
            </div>
          </div>
          
          <div class="form-group row mt-2">
            <label for="hours" class="col-sm col-form-label">Hours/Minutes/Seconds:</label>
            <div class="col-2">
              <div class="btn-toolbar-item">
                <input type="number" class="form-control" id="hours" min="0" max="24" step="1" name="hours"
                       placeholder="Hours" value=0>
              </div>
            </div>
            <div class="col-2">
              <div class="btn-toolbar-item">
                <input type="number" class="form-control" id="minutes" min="0" max="59" step="1" name="minutes"
                       placeholder="Minutes">
              </div>
            </div>
            <div class="col-2">
              <div class="btn-toolbar-item">
                <input type="number" class="form-control" id="seconds" min="0" max="59" step="1" name="seconds"
                       placeholder="Seconds">
              </div>
            </div>
          </div>
          
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="standard">
            </div>
            
            <div role="tabpanel" class="tab-pane" id="advanced">
              <div class="form-group row mt-2">
                <label for="season_setup" class="col-sm col-form-label"> Season setup: </label>
                  <div class="col-sm">
                    <div class="btn-toolbar-item">
                    <select class="form-control" id="season_setup" name="season_setup">
                      <option selected value="0"> Continue current season </option>
                      <option value="1"> Start new season</option>
                    </select>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          
          
          <div class="form-group row mt-2">
            <div class="col-sm text-right">
              <button type="submit" class="btn btn-primary">
                Save & Quit
              </button>
            </div>
          </div>
          
          <div class="container">
            <div class="hr-divider my-4">
              <ul class="nav nav-pills hr-divider-content hr-divider-nav" role="tablist">
                <li class="nav-item" role="presentation">
                  <a href="#standard" class="nav-link active" role="tab" data-toggle="tab"
                     aria-controls="standard">Standard</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a href="#advanced" class="nav-link" role="tab" data-toggle="tab"
                     aria-controls="advanced">Advanced</a>
                </li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Workout details start here -->
<div class="hr-divider mt-5 mb-4">
  <h3 class="hr-divider-content hr-divider-heading">Details</h3>
</div>

<div class="row">
  <div class="col-lg-4 mb-5">
    <div class="list-group mb-3">
      <h6 class="list-group-header">
        Sets in next workout
      </h6>
      
      <a class="list-group-item list-group-item-action justify-content-between" href="#">
        <span>Pull-ups</span>
        <span class="text-muted">20</span>
      </a>
      
      <a class="list-group-item list-group-item-action justify-content-between" href="#">
        <span>Push-ups</span>
        <span class="text-muted">40</span>
      </a>
      
      <a class="list-group-item list-group-item-action justify-content-between" href="#">
        <span>Burpees</span>
        <span class="text-muted">30</span>
      </a>
      
      <a class="list-group-item list-group-item-action justify-content-between" href="#">
        <span>Lunges</span>
        <span class="text-muted">15</span>
      </a>
      
      <a class="list-group-item list-group-item-action justify-content-between" href="#">
        <span class="font-weight-normal">Total circles:</span>
        <span class="font-weight-normal">5</span>
      </a>
    
    </div>
  </div>
  
  <div class="col-lg-4 mb-5">
    <div class="list-group mb-3">
      <h6 class="list-group-header">
        Best workout times
      </h6>
      
      <a class="list-group-item list-group-item-action justify-content-between" href="#">
        <span>Core Strength</span>
        <span class="text-muted">00:31:49</span>
      </a>
      
      <a class="list-group-item list-group-item-action justify-content-between" href="#">
        <span>Full Fledged Strength</span>
        <span class="text-muted">00:41:14</span>
      </a>
      
      <a class="list-group-item list-group-item-action justify-content-between" href="#">
        <span>Leg Strength</span>
        <span class="text-muted">00:19:29</span>
      </a>
    </div>
  </div>
  
  <div class="col-lg-4 mb-5">
    <div class="list-group mb-3">
      <h6 class="list-group-header">
        Frontal Strength workout progress
      </h6>
      
      <a class="list-group-item list-group-item-action justify-content-between" href="#">
        <span>Season 1 Week 1</span>
        <span class="text-muted">00:57:27</span>
      </a>
      
      <a class="list-group-item list-group-item-action justify-content-between" href="#">
        <span>Season 1 Week 2</span>
        <span class="text-muted">00:42:45</span>
      </a>
      
      <a class="list-group-item list-group-item-action justify-content-between" href="#">
        <span>Season 1 Week 4</span>
        <span class="text-muted">00:40:59</span>
      </a>
    
    </div>
    <a href="#" class="btn btn-outline-primary px-3">See all</a>
  </div>
</div>

{% endblock %}