{% extends "loginSignupBase.html" %}
{% block title %} Login {% endblock %}

{% block img %}
<img src="{{url_for('auth.static', filename='login-xs.jpg')}}" alt="login" class="login-card-img">
{% endblock %}

{% block sentence1 %} Log into your account {% endblock %}

{% block forms %}
<form method="post">
    <div class="form-group">
        <label for="login_email" class="sr-only">Email</label>
        <input type="email" name="login_email" id="login_email" class="form-control" placeholder="Email address" required>
    </div>
    <div class="form-group mb-4">
        <label for="login_password" class="sr-only">Password</label>
        <input type="password" name="login_password" id="login_password" class="form-control" placeholder="***********" required>
    </div>
    <input name="login" id="login" class="btn btn-block login-btn mb-4" type="submit" value="Login">
</form>
{% endblock %}

{% block links %}
<p class="login-card-footer-text">Don't have an account? <a href="{{url_for('auth.signup')}}" id="link-to-register" class="text-reset">Register here</a></p>
{% endblock %}