{% extends "loginSignupBase.html" %}
{% block title %} signup {% endblock %}

{% block img %}
<img src="{{url_for('auth.static', filename='signupsm.jpg')}}" alt="login" class="login-card-img">
{% endblock %}

{% block sentence1 %} Join us today! {% endblock %}

{% block forms %}
<form method="post">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="signup_firstName" class="sr-only">First Name</label>
                <input type="text" name="signup_firstName" id="signup_firstName" class="form-control" placeholder="James" required>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group mb-2">
                <label for="signup_lastName" class="sr-only">Last Name</label>
                <input type="text" name="signup_lastName" id="signup_lastName" class="form-control" placeholder="Dean" required>
            </div>
        </div>
    </div>
    <div class="form-group mb=2">
        <label for="signup_email" class="sr-only">Email</label>
        <input type="email" name="signup_email" id="signup_email" class="form-control" placeholder="Email address" required>
    </div>
    <div class="form-group mb-2">
        <label for="signup_password" class="sr-only">Password</label>
        <input type="password" name="signup_password" id="signup_password" class="form-control" placeholder="***********" required>
    </div>
    <input name="signup" id="signup" class="btn btn-block login-btn mb-2" type="submit" value="Sign up">
</form>
{% endblock %}

{% block links %}
<p class="login-card-footer-text">Already a member? <a href="{{url_for('auth.login')}}" class="text-reset">Log in here</a>
</p>
<nav class="login-card-footer-nav">
    <a href="#!">Terms of use.</a>
    <a href="#!">Privacy policy</a>
</nav>
{% endblock %}